.creatBtn{
	width: 200px;
	height: 56px;
	line-height: 56px;
	border-radius: 4px;
	font-size: 24px;
	color: #fff;
}
.creatBtn img{
	margin-right: 16px;
	margin-bottom: -2px;
}
.addBtn{
	width: 80px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
}
.searchBox input{
	width: calc(100% - 66px);
	height: 52px;
	vertical-align: middle;
	color: #fff;
}
.searchBox button{
	width: 66px;
	height: 52px;
	vertical-align: middle;
	cursor: pointer;
}
/* 创建赛事 */
.creatCurForm{
	margin-top: 15px;
	padding: 40px 30px;
	background-color: #4C525C;
	border-radius: 4px;
}
.red::before{
	content: '*';
	color: #FC3266;
	position: absolute;
	top: 4px;
	left: -15px;
}
.l-h-32{
	line-height: 32px;
}
.wid420{
	width: 420px;
}
.wid160{
	width: 160px !important;
}
.wid70px{
	width: 64px;
}
.m-r-40{
	margin-right: 40px;
}
.bg-input{
	background: #6C737F;
}
.uploadImgBox{
	position: relative;
}
.uploadImgBox input{
	display: none;
}
.uploadImgBox img{
	display: block;
}
.uploadImgBox p{
	background: #6C737F;
	position: absolute;
	bottom: 0;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	width: 100%;
	text-align: center;
}
.checkBox{
	line-height: 32px;
	font-size: 0;
}
.checkBox input+i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/radio.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: -2px;
	margin-right: 10px;
}
.checkBox input:checked+i{
	background: url(../images/radio-checked.png) no-repeat;
}
.checkBox2{
	line-height: 32px;
	font-size: 0;
	cursor: pointer;
}
.checkBox2 input+i{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/check.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: -1px;
	margin-right: 10px;
}
.checkBox2 input:checked+i{
	background: url(../images/checked.png) no-repeat;
}
.m-l-80{
	margin-left: 80px;
}
.wid260{
	width: 260px;
}
.color-3f3f3f{
	color: #3F3F3F;
}
.tetleNo{
	margin-left: 100px;
}
.moreAdd{
	font-size: 16px;
	color: #31CAFF !important;
}
.wid80px{
	width: 80px;
}
.teamCtt{
	background: #5F6877;
	padding: 20px 30px;
	margin: 30px -30px 0 -30px;
}
.wid90px{
	width: 96px;
}
.m-l-35{
	margin-left: 35px;
}
.moreAdd img{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -ms-transition: all linear .2s;
    transition: all linear .2s;
	margin-bottom: 1px;
}
.moreAdd.open img{
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.wid120{
	width: 120px;
}
.addBtn2{
	width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 16px;
	color: #fff;
	vertical-align: bottom;
}
.awardLabel{
	width: 260px;
	height: 32px;
	line-height: 32px;
	background: #FC3266;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	padding: 0 10px;
}
.awardLabel img{
	margin-top: 10px;
}
.m-t-60{
	margin-top: 60px;
}
.peopleHead{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.wid300{
	width: 300px;
}
.cur_img{
	vertical-align: middle;
	margin-top: -3px;
}
.m-r-50{
	margin-right: 50px;
}
.cur_img2{
	margin-bottom: -2px;
}
.color-31CAFF{
	color: #31CAFF;
}
.infoTab{
	border-bottom: 1px solid #4C525C;
	margin-top: 50px;
}
.infoTab a{
	float: left;
	display: block;
	width: 150px;
	text-align: center;
	color: #999;
	font-size: 20px;
	line-height: 40px;
}
.infoTab a.active{
	color: #fff;
	position: relative;
}
.infoTab a.active:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid #31CAFF;
}
.infoTab a.lock:after,.infoTab a.locked:after{
	content: '';
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../images/lockedno.png) no-repeat;
	margin-bottom: -1px;
	margin-left: 4px;
}
.infoTab a.lock.active:after{
	background: url(../images/lockno.png) no-repeat;
}
.infoTab a.locked:after{
	background: url(../images/locked.png) no-repeat;
}
.infoTab a.locked.active:after{
	background: url(../images/lock.png) no-repeat;
}